.box-3 {
    border: 1px solid black;
    
    width: 200px;
    height: 200px;
}

.box-1, .box-2 {
    margin-right: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.container {
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.container-2 {
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 800px;
    align-items: center;

}

@media screen and (max-width:576px) {
    .container {
        border: 5px solid red;
        background-color: black;
        height: 500px;
    }
}